<header class="main-header">
	<a class="home-btn" href="/" aria-label="Home Button">
		JOE ARTIST
	</a>
	<a class="cart" href="/cart" aria-label="Cart">
		{% render 'cart-icon' %}
		<div class="cart-count">{{ cart.item_count }}</div>
		<span class="text-link">Cart </span>
  	</a>
</header>


<style>
	*,
	*::before,
	*::after{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	ul,p,h1,h2,h3,h4,h5,h6{
		margin: 0;
		padding: 0;
	}
	a{
		text-decoration: none;
		color: #444;
	}

	.main-header{
		height: 50px;
		background: black;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.main-header svg {
		fill: #fff;
		color: #fff;
		vertical-align: top;
		width: 35px;
		height: 35px;
		transition: fill .4s,color .4s;
	}

	.main-header .cart-count {
		color: #fff;
		position: absolute;
		width: 2em;
		top: 21px;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
		line-height: 2em;
		text-align: center;
		font-family: Open Sans,sans-serif;
		font-weight: 800;
		font-style: normal;
		font-size: 10px;
		border-radius: 100px;
	}

	.main-header .cart {
		position: relative;
	}

	.text-link {
		display: none;
	}

	.cart-count {
		position: absolute;
		width: 2em;
		top: 21px;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
		line-height: 2em;
		text-align: center;
		font-family: Open Sans,sans-serif;
		font-weight: 800;
		font-style: normal;
		font-size: 10px;
		border-radius: 100px;
	}

	.home-btn {
		color: #fff;
		margin-right: 3rem;
	}
</style>